@import url("https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Alatsi&display=swap);
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #02191d;
}

#root {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.road-rage {
  font-family: "Road Rage", serif;
}

.roboto {
  font-family: "Roboto", serif;
}

.jeju {
  font-family: "Jeju Myeongo";
}

.alatsi {
  font-family: "Alatsi", serif;
}

label {
  font-family: "Roboto", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.ellipse {
  position: absolute;
  width: 100%;
  bottom: -70%;
  height: 100%;
  background: #24a0b54d;
  filter: blur(200px);
  z-index: -9999;
}
