@import url("https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #02191d;
}

.road-rage {
  font-family: "Road Rage", serif;
}

.roboto {
  font-family: "Roboto", serif;
}

.jeju {
  font-family: "Jeju Myeongo";
}

label {
  font-family: "Roboto", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
